<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="/" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"> Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/category" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"> Categories </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/customer" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"> Customers </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/shippers" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"> Shippers </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/fakestoreapi" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"> BONUS TRACK!! FakeStore API </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
