@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<address>
    NetLab2022<br />
    Artemio Lucero<br />

    <strong>Respository Branch:</strong>   <a href="https://github.com/ArteMaxL/LabNet2022/tree/tp7">GitHub</a><br />

</address>