@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    NetLab2022<br />
    Artemio Lucero<br />
    <a href="https://github.com/ArteMaxL/LabNet2022/tree/tp7">Github</a>
</address>