@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET - TP7</h1>
    <p class="lead">NorthWind Database. CRUD on Categories, Customers, and, Shippers tables.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Categories Table</h2>
        <p>
            CategoryID, CategoryName, Description.
        </p>
        <p><a class="btn btn-default" href="@Url.Content("/Category")">Go! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers Table</h2>
        <p>CustomerID, CompanyName, ContactName, ContactTitle, City, Region, Phone.</p>
        <p><a class="btn btn-default" href="@Url.Content("/Customer")">Go! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Shippers Table</h2>
        <p>ShipperID, CompanyName, Phone.</p>
        <p><a class="btn btn-default" href="@Url.Content("/Shipper")">Go! &raquo;</a></p>
    </div>
</div>