@{
    ViewBag.Title = "Home Page";
}
<div class="container px-4 px-lg-5 mt-5">
    <div class="jumbotron">
        <h1>ASP.NET - TP8 WebAPI</h1>
        <p class="lead">Fake Store API. See Fake Store</p>
        <p class="lead">NorthWind Database. CRUD on Categories, Customers, and, Shippers tables. See API.</p>
    </div>
    
    <hr />

    <div class="row justify-content-start">
        <div class="row justify-content-center">
            <div class="col-4">
                <h2>Fake Store API</h2>
                <p>
                    Get all products .
                </p>
                <a href="https://fakestoreapi.com/docs">FakeStoreDocs</a>
                <p><a class="btn btn-default" href="#">Go! &raquo;</a></p>
            </div>
            <div class="col-4">
                <h2>NorthWind Table</h2>
                <p>CRUD on Categories, Customers, and, Shippers tables</p>
                <p><a class="btn btn-default" href="/Help">Go! &raquo;</a></p>
            </div>
        </div>
    </div>
</div>