@model Northwind.MVC.UI.Models.CategoryView

@{
    ViewBag.Title = "Category Page";
}

<h1>Insert Category</h1>

@using (Html.BeginForm("Insert", "Category", FormMethod.Post))
{
    <label>Name: </label> @Html.TextBoxFor(c => c.Name)
    <label>Description: </label> @Html.TextBoxFor(c => c.Description)
    <input type="submit" class="btn btn-success" value="Save"/>
}