<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"> Angular </h1>
      <p>Haciendo uso de la Api generada en la práctica anterior, utilizar una de las entidades y generar un ABM básico (Insert, Update, Delete, Get).</p>
      <strong>Criterios de Aceptación:</strong>
      <ul>
        <li>Formulario Reactivo</li>
        <li>Validaciones.</li>
        <li>Témplate en algún framework (Bootstrap, Material, etc).</li>
        <li> Estructura del proyecto.</li>
        <li> Manejo de errores.</li>
      </ul>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/ArteMaxL/LabNet2022/tree/tp9" role="button"> GitHub Repository &raquo;</a></p>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h2>CATEGORIES</h2>
        <p>CRUD operation on Categories Table: </p>
        <p>Category Name.</p>
        <p>Description.</p>
        <p><a class="btn btn-success" href="/category" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>CUSTOMERS</h2>
        <p>CRUD operation on Customers Table: </p>
        <p>Company Name, Contact Name, Contact Title,</p>
        <p>City, Phone.</p>
        <p><a class="btn btn-success" href="/customer" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>SHIPPERS</h2>
        <p>CRUD operation on Shippers Table: </p>
        <p>Company Name.</p>
        <p>Phone.</p>
        <p><a class="btn btn-success" href="/shippers" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"> Fake Store API </h1>
        <p>FakeStoreApi is a free online REST API that you can use whenever you need Pseudo-real data for your e-commerce or shopping website without running any server-side code. It's awesome for teaching purposes, sample codes, tests, etc.</p>
        <p><a class="btn btn-danger btn-lg" href="/fakestoreapi" role="button"> Got to Fake Store API! &raquo;</a></p>
      </div>
    </div>

  </div>
</main>
