<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"> Angular </h1>
      <p>Haciendo uso de la Api generada en la práctica anterior, utilizar una de las entidades y generar un ABM básico (Insert, Update, Delete, Get).</p>
      <strong>Criterios de Aceptación:</strong>
      <ul>
        <li>Formulario Reactivo</li>
        <li>Validaciones.</li>
        <li>Témplate en algún framework (Bootstrap, Material, etc).</li>
        <li> Estructura del proyecto.</li>
        <li> Manejo de errores.</li>
      </ul>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/ArteMaxL/LabNet2022/tree/tp9" role="button"> GitHub Repository &raquo;</a></p>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h2>CATEGORIES</h2>
        <p>CRUD operation on Categories Table: </p>
        <p>Category Name.</p>
        <p>Description.</p>
        <p><a class="btn btn-secondary" href="/category" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>CUSTOMERS</h2>
        <p>CRUD operation on Customers Table: </p>
        <p>Company Name, Contact Name, Contact Title,</p>
        <p>City, Phone.</p>
        <p><a class="btn btn-secondary" href="/customer" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>SHIPPERS</h2>
        <p>CRUD operation on Shippers Table: </p>
        <p>Company Name.</p>
        <p>Phone.</p>
        <p><a class="btn btn-secondary" href="/shippers" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div>
</main>
