<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
  <div *ngFor="let product of products" class="container mb-2">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.Title}}</mat-card-title>
        <mat-card-subtitle>{{product.Category}}</mat-card-subtitle>
      </mat-card-header>
      <img class="" mat-card-image src="{{product.Image}}" alt="Photo of Item">
      <mat-card-content>
        <p>{{product.Description}}</p>
      </mat-card-content>
      <mat-card-content>
      <div class="mt-2">
        <h2 style="font-size:larger" class="text-primary">${{product.Price}}</h2>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
